@{
    ViewBag.Title = "MusicBookMovie Store: Order Submitted"; 
} 
<!--show some feedback to the customers, a page that confirms the order has been processed and thanks them for their business.-->
<h2>Thanks!</h2> 
Thanks for placing your order. We'll ship your goods as soon as possible.
